@media (max-width: 2000px) {
}

@media (max-width: 1025px) {
    .description {
        font-size: 1rem;
    }
    .description-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .description {
        font-size: 1rem;
    }
    .description-container {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}




.page-wrap {
    background-color: #F1FAFF;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}


.toggle-container {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.title-container {
    height: auto; 
    width: 100vw;
    text-align: flex-start;
}

.description-container {
    height: auto; 
    width: 100vw;
    text-align: center;
}

.description {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 400;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-right: 8%;
    text-shadow: 0 0 1px #FEFFDD, 0 0 2px #FEFFDD, 0 0 3px #FEFFDD;
}

.grass-humus {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 20px;
}

.topsoil {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 50px;
}

.subsoil {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 500px;
}

.yeartitle {
    font-family: 'Roboto';
    font-size: 3rem;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 10px;
}

.projects-container {
    align-items: center;
    display: flex; 
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    margin-left: 2%;
    overflow-x: auto;
    width: 100vw;
}

.project-box {
    flex: 0 0 auto;
    border-radius: 15px;
    height: 350px;
    margin-right: 100px;
    width: 550px;
    transition: opacity 0.2s ease-in-out;
}

.project-box:hover {
    opacity: 0.8;
}


.image-container {
    position: relative;
    width: 550px;
    margin-right: 100px;
}

.grey-overlay {
    background-color: #1F1F1F;
    border-radius: 15px;
    flex: 0 0 auto;
    height: 350px;
    margin-right: 100px;
    opacity: 1;
    width: 550px;
    transition: opacity 0.2s ease-in-out;
}

.grey-overlay:hover {
    opacity: 0.8;

}

.grey-title-container {
    text-align: center;
}

.grey-title {
    color: #FEFFDD;
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

.tech-boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    width: auto;
}

.techbox {
    background-color: #373737;
    border-radius: 8px;
    margin: 5px 10px;
    text-align: center;
}

.techbox-text {
    color: #797979;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 700;
    margin: 5px 25px;
    text-align: center;
}

.grey-des-container {
    text-align: flex-start;
    width: auto;
}
.grey-description {
    color: #797979;
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
    margin: 5px 25px;
    text-align: left;
}


.test-container {
    background-color: bisque;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}


